<ion-view title="home" class="homePage">
    
    <ion-content class="my-has-header top40" scroll="true">
      
    <div class="mainContent" ng-controller="ProductCategoryContent" ng-model="listOfProductsForCat"> 
        
          <a href="#/listByLetter/a" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> A </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/b" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> B </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/c" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> C </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/č" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> Č </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/ć" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> Ć </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/d" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> D </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/dž" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> DŽ </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/đ" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> Đ </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/e" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> E </div>
                </div>
                  
              </div>
              
          </a> 
        <a href="#/listByLetter/f" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> F </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/g" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> G </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/h" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> H </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/i" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> I </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/j" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> J </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/k" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> K </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/l" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> L </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/lj" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> LJ </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/m" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> M </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/n" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> N </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/nj" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> NJ </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/o" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> O </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/p" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> P </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/r" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> R </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/s" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> S </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/š" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> Š </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/t" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> T </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/u" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> U </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/v" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> V </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/z">
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> Z </div>
                </div>
                  
              </div>
              
          </a> 
        
        <a href="#/listByLetter/ž" >
              
              <div class="kocka" >
                  
                <div class="kockaSiva">
                  <div class="simbol01"> </div>
                  <div class="kockaPrviTekst"> Ž </div>
                </div>
                  
              </div>
              
          </a> 
        
     </div>
      
  </ion-content>
    
    
    
    <!--
    
    
    
    
<ul class="azList">
              <li><a href="#/listByLetter/a">A</a></li>
              <li><a href="#/listByLetter/b">B</a></li>
              <li><a href="#/listByLetter/c">C</a></li>
              <li><a href="#/listByLetter/č">Č</a></li>
              <li><a href="#/listByLetter/ć">Ć</a></li>
              <li><a href="#/listByLetter/d">D</a></li>
              <li><a href="#/listByLetter/dž">Dž</a></li>
              <li><a href="#/listByLetter/đ">Đ</a></li>
              <li><a href="#/listByLetter/e">E</a></li>
              <li><a href="#/listByLetter/f">F</a></li>
              <li><a href="#/listByLetter/g">G</a></li>
              <li><a href="#/listByLetter/h">H</a></li>
              <li><a href="#/listByLetter/i">I</a></li>
              <li><a href="#/listByLetter/j">J</a></li>
              <li><a href="#/listByLetter/k">K</a></li>
              <li><a href="#/listByLetter/l">L</a></li>
              <li><a href="#/listByLetter/lj">Lj</a></li>
              <li><a href="#/listByLetter/m">M</a></li>
              <li><a href="#/listByLetter/n">N</a></li>
              <li><a href="#/listByLetter/nj">Nj</a></li>
              <li><a href="#/listByLetter/o">O</a></li>
              <li><a href="#/listByLetter/p">P</a></li>
              <li><a href="#/listByLetter/r">R</a></li>
              <li><a href="#/listByLetter/s">S</a></li>
              <li><a href="#/listByLetter/š">Š</a></li>
              <li><a href="#/listByLetter/t">T</a></li>
              <li><a href="#/listByLetter/u">U</a></li>
              <li><a href="#/listByLetter/v">V</a></li>
              <li><a href="#/listByLetter/z">Z</a></li>
              <li><a href="#/listByLetter/ž">Ž</a></li>
            </ul>
    -->
</ion-view>