<ion-popover-view class="custom-popup-1">
      <ion-content>
         <div class="dropdownPrvi"> 
            <div class="gornjiTrokutPrvi"></div>
            <h5> POPIS LIJEKOVA: </h5>
         <ul class="meniDropDownPrvi">
          <li><a href="#/atoz">A-Z Abecedni popis lijekova</a></li>
          <li><a href="#/listallcategories">Po prodajnim grupama</a></li>
          <li><a href="#/listAllGenericName">Po generičkom imenu</a></li>
        </ul>

        </div>
      </ion-content>
		
   </ion-popover-view>