<ion-popover-view class="custom-popup-2">
      <ion-content>
         <div class="dropdownPrvi"> 
            <div class="gornjiTrokutPrvi"></div>
          <h5> LIJEKOVI U PROMOCIJI: </h5>
 <ul class="meniDropDownPrvi">
  <li><a href="#">GASTROENTEROLOGIJA</a></li>
  <li><a href="#">ANTIBIOTICI</a></li>
  <li><a href="#">KARDIOLOGIJA/METABOLIK</a></li>
  <li><a href="#">PSIHIJATRIJA</a></li>
  <li><a href="#">ŽENSKO ZDRAVLJE</a></li>
</ul>

        </div>
      </ion-content>
		
   </ion-popover-view>