<ion-view title="home" class="homePage">
   
        <ion-content class="my-has-header" scroll="false">
     
            <div class="mainContent">
               <div class="goreLijevo">
                   <a href="#"><img src="img/imgPre/goreLijevo.png" style="display: block; border: none;" /> </a>
               </div>
               <div class="goreDesno">
                   <a href="#"><img src="img/imgPre/goreDesno.png" style="display: block; border: none;" /> </a>a>
               </div>
               <div class="sredinaPasica">
                   <a href="#"> <img src="img/imgPre/bannerSrednji.png" style="display: block; border: none;" /> </a>
               </div>
               <div class="doljeHolder">
                  <div class="pocetnaDoljeOglas">
                      <a href="#"><img src="img/imgPre/dolje1.png" style="display: block; border: none;" /> </a>
                  </div>
                  <div class="pocetnaDoljeOglas">
                      <a href="#"> <img src="img/imgPre/dolje2.png" style="display: block; border: none;" /> </a>
                  </div>
                  <div class="pocetnaDoljeOglas">
                      <a href="#"> <img src="img/imgPre/dolje3.png" style="display: block; border: none;" /> </a>
                  </div>
                  <div class="pocetnaDoljeOglas">
                      <a href="#"> <img src="img/imgPre/dolje4.png" style="display: block; border: none;" />  </a>
                  </div>
               </div>
            </div>

        </ion-content>
    
</ion-view>