<ion-view title="home" class="homePage">
   <ion-content class="my-has-header" >
      <div class="mainContent" ng-controller="ProductCategoryContent" ng-model="listOfProductsForCat">
          
         <div class="kocka">
            <div class="kockaSiva">
               <div class="simbol01">
               </div>
               <div class="kockaPrviTekst">
                  gastro-<br>enterologija 
               </div>
            </div>
         </div>
          
          
      
          
         <div class="kocka" ng-repeat="catName in listOfProductsForCat">
            <a href="#/product/{{catName.productname}}">
            <div class="packshotTekst">
               {{catName.productname}}
            </div>
            <div class="packshotList">
               <img width="252" height="169" src="img/{{catName.photo}}" style="display: block; border: none; width: 100%;"> 
            </div>
            </a>
         </div>
          
       
          
      </div>
   </ion-content>
</ion-view>