<ion-popover-view class="mainSubmeni">
   <ion-content>
      <div class="velikiPopup">
         <div class="gornjiTrokutVeliki"></div>
         <div class="velikiKolona clear">
            <h5>TERAPEUTSKE SKUPINE</h5>
            <ul class="meniDropDownPrvi terapeutskeSkupine">
               <li><a href="#">antibiotici</a></li>
               <li><a href="#">dermatologija</a></li>
               <li><a href="#">dijabetes</a></li>
               <li><a href="#">dermatologija</a></li>
               <li><a href="#">gastroenterologija</a></li>
               <li>  <a href="#">dermatologij</a></li>
               <li><a href="#">metabolik</a></li>
               <li><a href="#">neurologija</a></li>
               <li><a href="#">osteoporoza</a></li>
               <li>  <a href="#">oftalmologija</a></li>
               <li><a href="#">bol</a></li>
               <li><a href="#">psihijatrija</a></li>
               <li><a href="#">pulmologija/alergologija</a></li>
               <li><a href="#">urologija</a></li>
               <li><a href="#">žensko zdravlje</a></li>
            </ul>
         </div>
         <div class="velikiKolona">
            <h5>TERAPEUTSKE SKUPINE</h5>
            <ul class="meniDropDownPrvi terapeutskeSkupine">
               <li><a href="#">antibiotici</a></li>
               <li><a href="#">dermatologija</a></li>
               <li><a href="#">dijabetes</a></li>
               <li><a href="#">dermatologija</a></li>
               <li><a href="#">gastroenterologija</a></li>
               <li>  <a href="#">dermatologij</a></li>
               <li><a href="#">metabolik</a></li>
               <li><a href="#">neurologija</a></li>
               <li><a href="#">osteoporoza</a></li>
               <li>  <a href="#">oftalmologija</a></li>
               <li><a href="#">bol</a></li>
               <li><a href="#">psihijatrija</a></li>
               <li><a href="#">pulmologija/alergologija</a></li>
               <li><a href="#">urologija</a></li>
               <li><a href="#">žensko zdravlje</a></li>
            </ul>
         </div>
         <div class="velikiPolozenaKolona">
             <a href="#">
                <img src="img/bannerRightUp.jpg" alt=""/>
             </a>
             <a href="#" class="d50per">
                <img src="img/bannerRightDown.jpg" alt=""/>
             </a>
             <a href="#" class="d50per">
                <img src="img/bannerRightDown.jpg" alt=""/>
             </a>
         </div>
      </div>
   </ion-content>
</ion-popover-view>