html, body {
	margin: 0;
	padding: 0 !important;
	border: 0;
	overflow: hidden;
}
body {
	font-family: Arial, sans-serif;
	line-height: 1.5;
	font-size: 16px;
	background: #fff;
	padding: 5px;
	color: #000;
	word-wrap: break-word;
	-webkit-text-size-adjust: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p img {
	float: left;
	margin: 0 10px 5px 0;
	padding: 0;
}
img {
	border: 0;
	max-width: 100%;
}
#wrapper {
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	width: 100%;
}
.headerBar {
	float: left;
	clear: both;
	height: 20px;
	width: 1024px;
	background-color: #02F4EC;
}
.mainHeader {
	clear: both;
	float: left;
	width:100%;
}
.meniHeaderLeft {
	width: 85px;
	height: 85px;
	background-color: #ffffff;
	float: left;
}
.meniHeaderLogo {
	width: 85px;
	height: 85px;
	background-color: #ffffff;
	float: left;
	margin-left: -32px;
}
.headerLogoDesni {
	width: 85px;
	height: 85px;
	background-color: #ffffff;
	float: right;
	margin-right:20px;
}
.meniHeaderLinkovi {
	width: 440px;
	height: 85px;
	background-color: #ffffff;
	float: left;
	margin-left: -20px;
}
.headerDropDown li {
	float: left;
	list-style: none;
	line-height: 52px;
	padding-right:35px;
}
.headerDropDown li a {
	color: #000000;
	font-size: 15px;
	text-decoration: none;
	background: url(../img/imgPre/plava.svg) right no-repeat;
	background-size: 7px 5px;
	padding-right: 15px;
	letter-spacing:0.5px;
	line-height: 85px;
}
.headerDropDown li a.bez-strelice {
	color: #000000;
	font-size: 15px;
	text-decoration: none;
	padding-right: 15px;
	background:none;
}
.headerSearch {
	float: left;
	width: 300px;
	height: 85px;
	background-color: #ffffff;
}
.mainContent {
	/*float: left;
	clear: both;
	width: 1024px;*/
	height: auto;
    float: left;
    position:relative;
    display:block;
	background-color: #ffffff;
	border-top: thin solid #ececec;
}
.goreLijevo {
	float: left;
	width: 512px;
	height: 255px;
}
.goreDesno {
	float: left;
	width: 512px;
	height: 255px;
}
.sredinaPasica {
	float: left;
	clear: both;
	width: 1024px;
	height: 127px;
	background-color: #cca3Ae22;
}
.doljeHolder {
	float: left;
	clear: both;
	width: 1024px;
	height: 300px;
	background-color: #225498;
}
.pocetnaDoljeOglas {
	float: left;
	width: 256px;
	height: 281px;
	background-color: #225498;
}
.pretraziHeader {

    border: none;
    background: url(../img/imgPre/search.png);
	width: 235px;
	height: 30px !important;
	background-size: cover;
	float: left;
	margin-top: 27px;
	padding-left: 20px !important;
    letter-spacing: 2.5px;
	-webkit-appearance: none;
	font-size: 11px !important;
}
.dropdownPrvi {
	float: left;
	position: absolute;
	margin-top: 69px;
	left: 206px;
	width: 250px;
	background-color: #222222;
	color: #ffffff;
}
.gornjiTrokutPrvi {
	background: url(../img/imgPre/trokutGore.svg) right no-repeat;
	background-size: 15px 7px;
	float: left;
	width: 15px;
	height: 7px;
	margin-top: -6px;
	margin-left: 30px;
}
.gornjiTrokutVeliki {
	background: url(../img/imgPre/trokutGore.svg) right no-repeat;
	background-size: 15px 7px;
	float: left;
	width: 15px;
	height: 7px;
	margin-top: -6px;
	margin-left: 34px;
}
.dropdownPrvi h5 {
	float: left;
	clear: both;
	margin: 25px 0 0 25px;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 3px;
}
.meniDropDownPrvi {
	padding-left: 25px;
	clear: both;
	float: left;
}
.meniDropDownPrvi li {
	float: left;
	list-style: none;
	line-height: 23.5px;
}
.meniDropDownPrvi li a {
	color: #bdbdbd;
	font-size: 12px;
	text-decoration: none;
	padding-right: 15px;
	letter-spacing: 1px;
}
.hidden {
	display: none;
}
.velikiPopup {
	float: left;
	position: absolute;
	margin-top: 69px;
	left: 0;
	width: 1024px;
	background-color: #222222;
	color: #ffffff;
	padding: 0;
}
.clear {
	clear: both;
}
.velikiKolona {
	width: 255px;
	margin-top: 0px;
	float: left;
	padding-top: 0;
	height: 440px;
	border-right: thin solid #676767;
}
.velikiKolona h5 {
    margin-top: 0px !important;
    padding-top: 28px;
    padding-left: 25px;
	padding-bottom: 5px;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 14px;
    margin: 25px 0 0 0;
}
.terapeutskeSkupine li {
	clear: both;
}
.terapeutskeSkupine li a {
	text-transform: uppercase;
	font-size: 12px;
    letter-spacing: 1px;
    color: #bdbdbd;
    line-height: 24px;
}
.velikiPolozenaKolona {
	float: left;
	position: relative;
	margin-top: 0px;
	left: 0;
	width: 512px;
	background-color: #ffffff;
	color: #ffffff;
	padding: 0;
	height: 160px;
}
.kocka {
	position: relative;
	float: left;
	width: 256px;
	height: 225px;
	border: thin solid #ececec;
}
.kockaSiva {
	position: relative;
	float: left;
	width: 232px;
	height: 204px;
	border: thin solid #ececec;
	background-color: #eeeeee;
	margin-top: 10px;
	margin-left: 10px;
}
.packshotList {
	float: left;
	position: absolute;
	bottom: 0;
	width: 252px;
	height: 170px;
}
.packshotTekst {
	float: left;
	position: absolute;
	top: 26px;
	width: 254px;
	text-align: center;
	font-size: 16px;
	color: #17234f;
	font-weight: bold;
	text-transform: uppercase;
}
.kockaPrviTekst {
	float: left;
	position: absolute;
	top: 100px;
	width: 232px;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	color: #1f4ba5;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	
}
.simbol01 {
	background: url(../img/imgPre/simbol01.svg) right no-repeat;
	background-size: 18px 15px;
	margin: 0 auto;
    width: 18px;
    height: 15px;
    padding-top: 120px;
}
.listaKategorije {
	width: 234px;
	background-color: #FF9700;
	margin-left: 0;
	float: left;
}
.mainLijevo {
	width: 234px;
	height: 683px;
	float: left;
	border-right: thin solid #ececec;
}
.mainLijevoHeader {
	width: 235px;
	height: 60px;
	margin-left: 0;
	float: left;
}
.mainLijevoHeader a {
	height: 60px;
    line-height: 60px;
    text-decoration: none;
    font-size: 18px;
    padding-left: 28px;
    margin-left: 0;
    margin-top: 0;
    color: #1f4ba5;
    float: left;
    font-weight: bold;
    letter-spacing: 2px;
	text-transform:uppercase;
}
.mainDesno {
	width: 790px;
	height: 683px;
	float: left;
}
.mainDesnoHeader {
	width: 790px;
	height: 60px;
	border-bottom: thin solid #ececec;
	float: left;
}
.mainLijekoviLijevoLista {
	width: 235px;
	height: 622px;
	clear: both;
	float: left;
	overflow-y: scroll;
	margin-left: 0;
	padding: 0 !important;
}
.mainLijekoviLijevoLista ul {
	list-style: none;
	margin-left: 0;
	margin-top: 0;
	padding: 0 !important;
}
.mainLijekoviLijevoLista li {
    border-bottom: thin solid #ececec;	
}
.mainLijekoviLijevoLista ul li.active {
	height: 60px;
	border-right: 10px solid #000000;
	background-color: #eeeeee;
	margin-left: 0;
	margin-top: 0;
}
.mainLijekoviLijevoLista ul li a {
	height: 60px;
	line-height: 60px;
	text-decoration: none;
	font-size: 15px;
	padding-left: 28px;
	margin-left: 0;
	margin-top: 0;
	color: #000000;
}
.mainDesnoSadrzaj {
	width: 719px;
	height: 552px;
	clear: both;
	float: left;
	overflow-y: scroll;
	margin-left: 0;
	padding: 35px;
}

.mainDesnoHeader ul {
	list-style: none;
	float: left;
	margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

.mainDesnoHeader ul li {
	float: left;
	line-height: 14px !important;
	height: 28px;
	margin-left: 0;
	display: table;
	}
	
.mainDesnoHeader ul li a {
	color: #292929;
	font-size: 13px;
	text-decoration: none;
	list-style: none;
}

.mainDesnoHeader ul li.active {
	border-bottom: 6px solid #1f4ba5;
	padding-bottom: 10px;
}
.mainDesnoHeader ul li.active .tabLink{
    color: #000;
}

.sivaCrta {
	background: url(../img/imgPre/siva_desna.svg);
	background-attachment: fixed;
    width: 1px;
    height: 28px;
    float: left;
	margin-right: 16px;
    margin-left: 16px;
	}

.mainDesnoSadrzaj h3 { font-size: 42px;
    color: #222222;
    margin-top: 10px;
	}
	
.mainDesnoSadrzaj h3 sup{ 
    font-size: 18px;
    color: #222222;
	}
	
.mainDesnoSadrzaj p { 
    font-size: 16px;
    color: #868686;
	}
	
.mainDesnoSadrzaj img {
	width: 540px;
	height: 425px;
	}